/* Header */

.header{
    position: absolute;
    width: 100%;
    height: 68px;
    top: 40px;
}
.header__logo{
    position: absolute;
    left: 3%;
    right: 83.04%;
    top: 0%;
    bottom: 0%;
}

nav{
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: 3%;
    top: 25%;
    bottom: 25%;
}
.items{
    font-family: 'Montserrat';
    font-size: 24px;
    display: flex;
    color: #FF6060;
    cursor: pointer;
    margin-left: 50px;
}
/* Fin Header */
/* Error */

/* Footer */ 
.footer{
    position: relative;
    width: 100%;
    height: 209px;
    background: #000000;
}
.footer__text{
    position: absolute;
    left: 37%;
    right: 32.22%;
    top: 64.11%;
    bottom: 13.88%;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 142.6%;
    /* or 34px */

    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #FFFFFF;
}
.footer__logo {
    position: absolute;
    left: 45.76%;
    right: 45.76%;
    top: 31.58%;
    bottom: 49.55%;
}