body{
    margin: 0; 
    background: #E5E5E5;
    font-family: 'Montserrat';
}
/* Header */
nav{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 2% 0 3% 5%;
    align-items: center;
}
nav ul{
    display: flex;
    padding: 0;
}
nav li{
    display: block;
    padding: 0 0 0 80px; 
       
}
li a{
    cursor: pointer;
    font-size: 24px;
    text-decoration: none;
    color: #FF6060;
}
li a:hover{
    text-decoration: underline;
}
.header__logo{
    height: 68px;
    width: 210px;
}
/* Fin Header */
/* Error */
.error{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 70px 0 20px 0;
}
.error p{
    font-size: 36px;
    width: 95%;
}
.error__home{
    text-decoration: none;
    font-size: 18px;
    color: #FF6060;
    margin: 70px 0 ;
}
.error__home:hover{
    text-decoration: underline;
}
.error img{
    width: 95%;
}
/* Fin Error */
/* Footer */ 
.footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 200px;
    background: #000000;
}
.footer__text{
    margin-top: 30px;
    font-size: 24px;
    color: #FFFFFF;
}

@media all and (max-width:768px){
    .header__logo{
        Width : 120px;
        height: 40px;
    }
    li a{
        font-size: 18px;
    }
    nav li{
        padding: 0 10px 0 10px;
    }
    .footer__text{
        font-size: 19px;
    }
    /* Error */
    .error img{
        width: 80%;
    }
    .error p{
        font-size: 19px;
        width: 80%;
    }
}