.home{
    position: relative;
    width: 1240px;
    height: 1095px;
    left: 100px;
    top: 171px;
}

h1{
    position: absolute;
    width: 1240px;
    height: 1095px;
    left: 100px;
    top: 171px;

}